body {
    height: 100vh;
    text-rendering: optimizeLegibility;
    background-color: #BEBBBB;
}

.cover {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.app-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download-btn {
    background-color: #2F243A;
    border: 0;
}

#demo-img {
    height: 400px;
    width: 750px;
}